*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.team-box img{
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.team-box .team-social a{
    color: #7f8c8d;
}